@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Outfit", system-ui, sans-serif;
  --color-brand-blue: #0052cc;
  --color-brand-hover: #0747a6;
  --color-brand-bg: #f4f5f7;
  --color-brand-dark: #091e42;
}

body {
  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #091e42;
  margin: 0;
  padding: 0;
}

.dragging-preview {
  box-shadow: none !important;
  border-radius: 0.75rem !important;
}
